* {
	margin : 0;
	padding : 0;
	/*font-family : Tahoma;*/
}
html {
	font-size : 16px;
}
@media screen and (max-width: 1110px) { 
	html { 
		font-size: 26; 
	} 
}

@media screen and (max-width: 1000px) { 
	html { 
		font-size: 36;
	} 
}

section {
	/*min-height : 50px;*/
	position: relative;
}

img {
	max-width : 100%;
}

#parallax {
	top : 0;
	height : 0;
	position : absolute;

}

.soupContainer {
	display : flex;
	/*position : absolute;*/
	flex-direction : column;
}
.soup {
	/*padding : 2px;*/
	
	/*width : 80px;*/
	/*height : 100px;*/
}
		

.grid {
	width : 100%;
	display : grid;
	/*grid-template-columns : auto min(1000px, calc(100vw - 160px)) auto;*/
	grid-template-columns : auto min(1000px, calc(100vw - 250px)) auto;
	grid-template-areas  : "left middle right";
}
/*.gridLatilla {	grid-template-columns : auto min(1000px, calc(100vw - 250px)) auto;}*/
.gridLatilla {	grid-template-columns : auto 1000px auto;}

.middle {
	grid-area : middle;
	/*padding : 20px;*/
}

.left {
	grid-area : left;
	justify-self : end;
}

.right {
	grid-area : right;
	justify-self : start;
}

.row {
	display : flex;
	flex-direction: row;
	justify-content : space-between;
	flex-wrap : wrap;
	/*text-align : center*/
}

.column {
	display : flex;
	flex-direction: column;
	justify-content : center;
	align-items : center;
}

.text {
	/*width : calc(100% - 80px);*/
	/*width : 100%;*/
	padding : 20px;
	background-color : black;
	color : white;
	border-radius : 25px;
	margin : 20px;
	font-size : 25px;
}

